* {
    padding: 0;
    margin: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/*header-top css*/
body {
  font-family: 'Poppins', sans-serif;
}
.header-top::after{
 content: "";
 width: 100%;
 height: 4px;
 background-color: #FAFAFB ;
 margin-top: 16px;
 display: block;
}
.header-top {
  padding-top: 24px;
}
.header-top-list {
  display: flex;
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 20% ;
  
}
.header-top-en {
 grid-column: 1/2;
 font-size: 20px;
 display: flex;
 font-weight: 400;
}
.header-top-en-content {
  padding-left: 100px;
  display: flex;
}
.header-top-en-content .fa-solid {
 font-size: 12px;
 line-height: 16px;
 padding-left: 4px;
 margin-top: 6px;
}
.header-top-usd {
  display: flex;
}
.header-top-usd-content {
  font-size: 20px;
  font-weight: 400;
  position: relative;
}
.header-top-usd-content .fa-solid{
 font-size: 12px;
 position: absolute;
 padding-left: 4px;
 padding-top: 8px;
}
.header-top-profile {
 grid-column: 7/8;
 display: flex;
 left: 70px;
 position: relative;
}
.header-top-profile .fa-solid {
 position: absolute;
 padding-top: 4px;
}
.header-top-profile-content {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  padding-left: 16px;
}
.header-top-shopping {
  grid-column: 8/9;
  padding-left: 60px;
  display: flex;
  position: relative;
  margin-left: 16px;
}
.header-top-shopping .fa-solid {
  font-size: 16px;
  padding-top: 4px;
}
.header-top-shopping-number {
   position: absolute;
   background-color: #FB7181;
   color: #fff;
   border-radius: 50%;
   width: 20px;
   height: 20px;
   font-size: 16px;
   text-align: center;
   justify-content: center;
   top: -12px;
   left: 72px;
}
.header-top-items-money {
  display: flex;
}
.header-top-items {
 font-size: 20px;
 grid-column: 9/10;
}
.header-top-money {
 font-size: 20px;
 color: #262626;
 opacity: 0.5;
 margin-left: 64px;
 margin-top: 2px;
}
.header-top-money .fa-solid {
  opacity: 1;
}
/*header-bottom css*/
.header-bottom  {
 position: relative;
 width: 100%;
 height: 90px;
}
.header-bottom-list {
 position: absolute;
 width: 100%;
 height: 60px;
 top: 12px;
 display: grid;
 grid-template-columns: 100px 550px 160px 160px 160px 160px 160px;
}
.header-e-commit {
  position: relative;
 grid-column: 2/3;
 display: flex;
}
.header-e-commit-img {
  position: absolute;
}
.header-e-comm-content {
 position: absolute;
 margin-left: 36px;
 margin-top: 8px;
 font-size: 18px;
 color: #262626;
 font-weight: 1000;
}
.header-bottom-item {
 font-size: 24px;
 color: #262626;
 margin-top: 8px;
 font-weight: 1000;
}
/*header-sale*/

/*super*/
.header-sale {
 width: 100%;
 height: 820px;
 position: relative;
}
.header-super-sale {
  position: relative;
  width: 100%;
  background-image: url('/img/super-sale.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center -30px;
  height: 550px;
}
.header-super-sale-caption {
  position: absolute;
  font-size: 64px;
  font-weight: 1000;
  color: #FAFAFB;
  left: 250px;
  top: 208px;
  width: 500px;
}
.header-sale-off {
  position: absolute;
  height: 350px;
  top: 450px;
}
.header-sale-list {
  display: flex;
  height: 350px ;
  position: absolute;
  display: grid;
  grid-template-columns: 140px 420px 420px 420px 60px ;
}
.header-sale-item-bag{
  grid-column: 2/3;
  background: url('./img/BAG.png');
  background-size: cover;
  background-position-x: center ;
  background-position-y: -220px ;
  width: 420px;
  height: 350px;
  display: grid;
  grid-template-rows: 85px 160px 70px ;
}

.header-sale-bag-heading {
 grid-row: 1/2;
 width: 200px;
 margin-top: 30px;
 margin-left: 52px;
 font-weight: 700;
 font-size: 20px;
 color: #223263;
}
.header-sale-bag-footer {
  grid-row: 3/4;
  display: grid;
  grid-template-columns: 250px 160px;
  margin-top: 16px;
}
.header-sale-bag-footer-off {
  display: flex;
  grid-column: 1/2;
  margin-left: 52px;
}
.header-sale-bag-footer-content {
  color: #9098B1;
  font-size: 18px;
  font-weight: 400;
  text-decoration:line-through;
}
.header-sale-bag-footer-content-off {
 color: #FB7181;
 font-size: 18px;
 font-weight: 700;
 margin-left: 8px;
}

.header-sale-bag-footer-price {
 color: #40BFFF;
 font-size: 30px;
 font-weight: 700;
 margin-top: 32px;
 margin-left: 40px;
}
/*yellow*/
.header-sale-item-yellow  {
  background-image: url('./img/yellow.png');
  background-size: cover;
  background-position-x: center ;
  background-position-y: -60px ;
  width: 420px;
  height: 350px;
  display: grid;
  grid-template-rows: 90px 200px 60px;
}
.header-sale-item-yellow-heading {
 display: grid;
 grid-template-columns: 250px 170px;
}
.header-sale-item-nike{
  color: #223263;
  width: 200px;
  margin-top: 30px;
  margin-left: 52px;
  font-weight: 700;
  font-size: 20px;

}
.header-sale-item-footer-price {
 color: #40BFFF;
 margin-top: 32px;
 margin-left: 20px;
 font-weight: 300;
 font-size: 30px;
}
.header-sale-item-footer {
  grid-row: 3/4;
  display: flex;
  margin-left: 160px;
}
.header-sale-item-footer-content {
 color: #9098B1;
 text-decoration: line-through;
 font-size: 18px;
 font-weight: 400;
}
.header-sale-item-footer-off {
 color: #FB7181;
 margin-left: 8px;
 font-size: 18px;
 font-weight: 700;
}
/*red*/
.header-sale-item-red {
  background-image: url('./img/red.png');
  background-size: cover;
  background-position-x: center ;
  background-position-y: -60px ;
  width: 420px;
  height: 350px;
  display: grid;
  grid-template-rows: 90px 40px 160px 60px;
}
.header-sale-item-red-heading {
 font-size: 20px;
 font-weight: 700;
 color: #223263;
 width: 200px;
 margin-top: 32px;
 margin-left: 52px;
}
.header-sale-item-red-footer {
 display: flex;
 margin-left: 52px;
 margin-top: 12px;
}
.header-sale-item-red-footer-price {
 color: #9098B1;
 text-decoration: line-through;
 font-weight: 400;
 font-size: 16px;
}
.header-sale-item-red-footer-off {
 margin-left: 8px;
 color: #FB7181;
 font-size: 16px;
 font-weight: 700;
}
.header-sale-item-red-price {
 grid-row: 4/5;
 color: #40BFFF;
 font-size: 30px;
 font-weight: 700;
 margin-left: 250px;
 margin-bottom: 20px;
}
/*header-heading*/
.header-heading {
  position: relative;
  width: 100%;
  background-color: #F6F7F8;
  height: 51px;
}
.header-heading-list {
  display: flex;
  position: absolute;
  left: 550px;
  top: 14.5px;
}
.header-heading-content {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.header-heading-content-home {
 color: #33A0FF;
 font-size: 18px;
 font-weight: 400;
 margin-right: 6px;
}
.header-heading-content-deal {
 color: #33A0FF;
 font-size: 18px;
 font-weight: 400;
 margin-left: 6px;
 margin-right: 2px;
}
.header-heading-content-nike {
  font-size: 18px;
  font-weight: 400;
  margin-left: 6px;
}
/*product*/
.products {
  margin-top: 44px;
}
.row {
  max-width: 100%;
  height: 504px;
}
.col-4 {
  height: 504px;
}
.col-5 {
  height: 504px;
}
.col-3 {
  height: 504px;
}
.product-product-image {
  height: 271.68121337890625px;
  width: 375px;
  margin-left: 124px;
}
.product-img-list {
 margin-top: 134px;
 margin-left: 128px;
}
.product-img-list-image {
  height: 84.25px;
  width: 80.79px;
  border-radius: 8px;
  margin-right: 4px;
}
.product-info {
  margin-left: 48px;
  height: 500px;
}
.product-name {
  height: 30.83px;
  width: 450.60px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
}
.product-review {
  display: flex;
  margin-top: 24px;
  width: 500px;
  position: relative;
}
.product-star-list .fa-solid {
  color: #FFC600;
  margin-right: 4px;
  height: 10.63px;
  width: 11.57px;
}
.product-review-number {
  margin-left: 12px;
  height: 18.07px;
  width: 74.18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #C1C8CE;
}
.product-review-submit {
  height: 18.07px;
  width: 120.18px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color:#33A0FF;
}
.product-review::after {
  position: absolute;
  content: "";
  height: 2.12px;
  width: 499.48px;
  background-color: #F6F7F8;
  top: 40px;
}
.product-price {
  display: flex;
  margin-top: 32px;
}
.product-price-dollar {
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.5px;
  color: #40BFFF;
}
.product-price-origin {
  text-decoration: line-through;
  margin-left: 10px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
  letter-spacing: 0.5px;
  color: #9098B1;
}
.product-price-off {
 font-size: 14px;
 font-weight: 700;
 line-height: 21px;
 letter-spacing: 0.5px;
 color: #FB7181;
 margin-top: 8px;
 margin-left: 8px;
}
.product-availabe {
  display: flex;
}
.product-availability {
  font-size: 14px;
  font-weight: 400;
}
.product-stock {
  font-size: 14px;
  font-weight: 400;
  margin-left: 70px;
}
.product-item {
  display: flex;
  margin-top: 6px;
}
.product-category {
  font-size: 14px;
  font-weight: 400;
}
.product-accessories {
  font-size: 14px;
  font-weight: 400;
  margin-left: 80px;
}
.product-free {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 400;
  position: relative;
}
.product-free::after {
  position: absolute;
  content: "";
  height: 2.12px;
  width: 499.48px;
  background-color: #F6F7F8;
  top: 44px;
  left: -1px;
}
.product-select {
  margin-top: 56px;
  display: flex;
}
.product-select-color {
  font-size: 16px;
  font-weight: 400;
  margin-right: 48px;
}
.product-color-list {
  display: flex;
}
.product-color-item {
  background-color: #006CFF;
  height: 17.01px;
  width: 16.58px;
  border-radius: 50%;
  margin-right: 16px;
}
.red {
  background-color: #FC3E39;
}
.black {
  background-color: #171717;
}
.yellow {
  background-color: #FFF600;
}
.product-size {
  margin-top: 36px;
  display: flex;
  position: relative;
}
.product-Size {
  margin-right: 104px;
}
.product-XS {
  position: relative;
}
.product-XS .fa-solid {
  position: absolute;
  left: 64px;
  bottom: 8px;
  width: 7px;
}
.product-size::after {
  position: absolute;
  content: "";
  height: 2.12px;
  width: 499.48px;
  background-color: #F6F7F8;
  top: 64px;
  left: -1px;
}
.product-cart {
  position: relative;
}
.product-cart-list {
  position: relative;
  display: flex;
  
}
.product-cart-numbers {
  top: 60px;
  position: absolute;
  display: flex;
  height: 48.91px;
  width: 123.27px;
  background-color: #F6F7F8;
}
.product-cart-number {
  position: absolute;
  color: #33A0FF;
}
.subtract {
  top: 12px;
  left: 18px;
  width: 8px;
  height: 2px;
}
.add {
  top: 12px;
  left: 100px;
}
.product-cart-number-two {
  position: absolute;
  color: #262626;
  top: 12px;
  left: 56px;
  font-size: 16px;
}
.product-cart-shopping-heart {
  position: absolute;
  display: flex;
  top: 65px;
  left: 270px;
}
.product-cart-shopping {
  display: flex;
  height: 48.91px;
  width: 159.41px;
  background-color: #33A0FF;
  position: relative;
  
}
.product-cart-shopping .fa-solid {
  position: absolute;
  color: #262626;
  top: 16px;
  left: 22px;
}
.product-cart-content {
  position: absolute;
  color: #262626;
  top: 8px;
  left: 48px;
  font-size: 16px;
  font-weight: 400;
}
.product-cart-heart {
  position: absolute;
  left: 180px;
  background-color: #33A0FF;
  height: 48.91px;
  width: 48.88px;
}
.product-cart-heart .fa-solid {
  margin-top: 16px;
  margin-left: 16px;
}
.product-cart::after {
    position: absolute;
    content: "";
    height: 2.12px;
    width: 499.48px;
    background-color: #F6F7F8;
    top: 128px;
    left: -1px;
}
.product-best {
  font-size: 18px;
  font-weight: 400;
  color: #C1C8CE;
}
.product-best-image {
  margin-top: 35px;
  height: 450.91px;
  width: 284px;
  position: relative;
}
.product-best-image::after {
  content: "";
  position: absolute;
  background-color: #F1F3F4;
  height: 3.19px;
  width: 124px;
  top: 430px;
  left: 80px;
  
}
.product-img-best {
  height: 239.68px;
  width: 283px;
  border-radius: 5px;
}
.product-best-info {
  position: relative;
  width: 284px;
  height: 127px;
  border: #F6F7F8 2px solid;
}
.product-best-info-star {
  position: absolute;
  top: 52px;
  left: 92px;
}
.product-best-info-star .fa-solid {
  color: #FFC600;
  height: 10px;
  width: 11px;
  margin-right: 4px;
}
.product-best-info-price {
 position: absolute;
 top: 80px;
 left: 95px;
 display: flex;
}
.product-best-info-price-sale {
  color: #FF4858;
  font-size: 16px;
  font-weight: 400;
}
.product-best-info-price-origin {
 margin-left: 12px;
 text-decoration: line-through;
 color: #C1C8CE;
 font-size: 16px;
 font-weight: 400;
}
/*social*/
.social  {
  position: relative;
  width: 100%;
  height: 118px;
}
.social-list {
 position: absolute;
 left: 552px;
 display: flex;
 top: 24px;
}
.social-facebook {
  position: relative;
  display: flex;
  height: 48.91px;
  width: 224.43px;
  background-color: #385C8E;
  border-radius: 5px;
}
.social-facebook .fa-brands {
  position: absolute;
  background-color: #FAFAFB;
  color: #385C8E;
  top: 18px;
  left: 35px;
  border-radius: 70px;
}
.social-facebook-content {
  position: absolute;
  color: #FAFAFB;
  font-size: 16px;
  font-weight: 500;
  top: 14px;
  left: 55px;
}
.social-twitter {
  position: relative;
   display: flex;
   margin-left: 12px;
   background-color: #03A9F4;
   width: 224px;
   height: 48px;
   border-radius: 5px;
}
.social-twitter .fa-brands {
  position: absolute;
  top: 18px;
  left: 44px;
  color: #F6F7F8;
}
.social-twitter-content {
 position: absolute;
 top: 14px;
 left: 68px;
 color: #fff;
 font-size: 16px;
 font-weight: 500;
}
/*information-product*/
.information {
  margin-left: 128px;
  
}
.information-table {
  height: 338.79px;
  width: 754.58px;
  background-color: #FAFAFB;
  position: relative;
}
.information-list {
  position: absolute;
  display: flex;
  top: 34px;
  left: 32px;
}
.information-item {
  font-size: 18px;
  font-weight: 400;
  margin-right: 80px;
  color: #262626;
}
.information-item-info {
  font-size: 18px;
  font-weight: 400;
  margin-right: 80px;
  color: #2E90E5;
}
.information-list::after {
  position: absolute;
  content: "";
  background-color: #2E90E5;
  height: 4.25px;
  width: 754.58px;
  top: 61px;
  left: -31.58px;
}
.information-content {
  position: absolute;
  top: 110px;
  left: 31px;
}
.information-product {
  font-size: 12px;
  font-weight: 400;
  color: grey;
  width: 600px;
  margin-bottom: 15px;
}
/*related*/
.related {
  margin-top: 77px;
  margin-left: 594px;
  font-size: 35px;
  font-weight: 600;
  color:  #22262A;
}
/*product-related*/
.product-related {
  position: relative;
  height: 500px;
}
.product-related-list {
  position: absolute;
  top: 76px;
  left: 110px;
  display: flex;
}
.product-related-item {
  position: relative;
  height: 385px;
  width: 293px;
  border: #F6F7F8 2px solid;
  margin-right: 36px;
  background-image: url('./img/img-normal/NIKE1.png');
  background-repeat: no-repeat;
  background-size: 299px;
  background-position-y: 20px;
}
.product-related-item-nike2 {
  position: relative;
  height: 385px;
  width: 293px;
  border: #F6F7F8 2px solid;
  margin-right: 36px;
  background-image: url('./img/img-normal/NIKE2.png');
  background-repeat: no-repeat;
  background-size: 299px;
}
.product-related-item-nike3 {
  position: relative;
  height: 385px;
  width: 293px;
  border: #F6F7F8 2px solid;
  margin-right: 36px;
  background-image: url('./img/img-normal/NIKE3.png');
  background-repeat: no-repeat;
  background-size: 299px;
}
.product-related-item-nike4 {
  position: relative;
  height: 385px;
  width: 293px;
  border: #F6F7F8 2px solid;
  margin-right: 36px;
  background-image: url('./img/img-normal/NIKE4.png');
  background-repeat: no-repeat;
  background-size: 299px;
}

.product-related-item-hot {
  background-color: #FF4858;
  color: #fff;
  width: 64px;
  height: 33px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  justify-content: center;
  line-height: 33px;
  border-radius: 5px;
}
.product-related-item-name {
  position: absolute;
  color: #223263;
  font-size: 18px;
  font-weight: 700;
  top: 282px;
  left: 39px;
}
.product-related-item-star {
  position: absolute;
  top: 315px;
  left: 78px;
}
.product-related-item-star .fa-solid {
  margin-right: 16px;
  color: #FFC600;
  width: 4px;
  height: 12px;
}
.product-related-item-money {
  display: flex;
  position: absolute;
  left: 40px;
  top: 336px;
}
.product-related-item-sale {
  margin-right: 14px;
  font-size: 18px;
  font-weight: 700;
  color: #40BFFF;
}
.product-related-item-price {
  font-size: 14px;
  text-decoration: line-through;
  color: #9098B1;
  margin-right: 8px;
  margin-top: 2px;
}
.product-related-item-off {
  color: #FB7181;
  font-size: 14px;
  font-weight: 700;
  margin-top: 2px;
}
/*footer*/
.footer {
  height: 690px;
  background-color: #BCDDFE;
  margin-top: 40px;
  position: relative;
}
.footer-list {
  position: absolute;
  top: 150px;
  left: 140px;
  display: grid;
  grid-template-rows: 210px 331px;
} 
.footer-on {
  display: grid;
  grid-template-columns: 500px 360px 406px;
}
.footer-item-heading {
  display: flex;
}
.footer-item-heading-vector {
  width: 39px;
  height: 39px;
}
.footer-item-heading-content {
  font-size: 18px;
  font-weight: 700;
  line-height: 34px;
  margin-left: 4px;
}
.footer-item-content {
  height: 75px;
  width: 221.10px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 9px;
  color: #22262A;
}
.footer-item-follow {
  margin-top: 12px;
}
.footer-item-follow-heading {
  font-size: 18px;
  font-weight: 500;
}
.footer-item-follow-content {
  margin-top: 15px;
  height: 45px;
  width: 198px;
  font-size: 12px;
  font-weight: 400;
  color: #22262A;
}
.footer-item-follow-social {
  margin-top: 23px;
}
.footer-item-follow-social .facebook{
  background-color: #385C8E;
  color: #BCDDFE;
  margin-right: 28px;
  border-radius: 55%;
  height: 15.13px;
  width: 16.64px;
}
.footer-item-follow-social .twitter {
  height: 11.89px;
  width: 14.63px;
  color: #03A9F4;
}
.footer-item-contact {
  margin-top: 16px;
}
.footer-item-contact-heading {
  font-size: 18px;
  font-weight: 500;
  color: #22262A;
}
.footer-item-contact-content {
  font-size: 14px;
  font-weight: 400;
  width: 148px;
  margin-top: 12px;
  color: #22262A;
}
.footer-under {
  display: grid;
  grid-template-columns: 330px 378px 337px 300px ;
}
.footer-item-heading {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-bottom: 20px;
}
.footer-item-under-content {
  font-size: 14px;
  font-weight: 400;
  height: 84px;
  width: 112px;
  line-height: 20px;
}
.term-condition {
  width: 125px;
}
.footer-list::after {
  position: absolute;
  background-color: #F6F7F8;
  content: "";
  width: 1180px;
  height: 1.5px; 
  top: 440px;
  left: 20px;
}
.logo {
  position: absolute;
  top: 604px;
  left: 156px;
  display: flex;
}
.logo-content {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #C1C8CE;
}
.logo-list {
  margin-left: 650px;
  margin-top: 20px;
}
.logo-list-img {
  width: 38px;
  height: 25px;
  margin-right: 12px;
}







